# Dependencies
node_modules

# Production build - DON'T ignore this if deploying to Render as static site
# dist

# Environment variables
.env 
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store

# OS
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?